.git

# Temporary files
note.txt
Translation.json
translation.csv
*temp
string (2)
plugins/

# Virtual Environment
venv/
env/
*venv/
win-venv/

# Python Cache
*/__pycache__
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Local Utility Scripts
replace.sh
split_icon.py

# Build Directories
build/
dist/