[Desktop Entry]
Name=STA Translator
Exec=main
Icon=sta-translator
Type=Application
Categories=Development;Utility;
Terminal=false
Comment=STA Tool for string dialogue translations
